name: Postman Inwarranty Collection Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: 30 13 * * * # 7 PM IST
    - cron: 00 06 * * * # 11.30 AM IST
    - cron: 00 06 * * 1-5 # same as above but only from Monday to Friday

jobs:
  run-postman-test:  # Name of the job
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout the code
        uses: actions/checkout@v6.0.1
      - name: Setup Node.js environment
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 22
      - name: Install Newman and HTML Extra Reporter
        run: |
              npm install -g newman
              npm install -g newman-reporter-htmlextra
      - name: Run the postman collection
        run: |
              newman run In-WarrantyFlow-Data-Driven.postman_collection \
              -e QA.postman_environment.json \
              -d testdata.csv \
              -r cli,htmlextra \
              --reporter-htmlextra-export ./newman/index.html  # if we give this code, our htmlextra report will be saved with the name index.html, which makes it easy to access
              # the report on github pages directly on just a click of the link
      - name: Upload the html report to artifacts
        if: always()
        uses: actions/upload-artifact@v6.0.0
        with:
          name: Newman Report
          path: newman/*.html
      - name: Creating github pages branch
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: newman/
      - name: Send Email Notification
        if: always()
        uses: dawidd6/action-send-mail@v7
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }} # NOT GMAIL PASSWORD, USE APP PASSWORD
          subject: Phoenix In-Warranty Flow Test Execution Notification
          to: shaikhshoaib175@outlook.com
          from: ${{ secrets.EMAIL_USERNAME }}
          body: |
                 Hello Team,

                 The automated test execution for the Phoenix In-Warranty flow has been completed via GitHub Actions.

                 Report URL: https://shoaib175.github.io/Phoenix-Inwarranty-Flow/

                 Please let me know if any clarification or re-run is required.

                 Regards,
                 Shoaib
  
  
    
